:root {
    --button-primary-bg: #339EEE;
    --text-primary-color: #ECF8FD;
    --text-secondary-color: #339EEE;
    --paper-plain-color: #26318D;
    --input-background-color: #b9bacb;
    --input-outline-color: #26318D;
    --navbar-background-color: #26318D;
}